// .streams {
//   display: flex;
//   height: 100vh;
//   width: 100%;
//   overflow: hidden;
//   font-family: "monospace", monospace;
//   font-size: 16px;
// }

// .stream {
//   margin-right: 16px;
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .symbol {
//   position: absolute;
//   transition: top 0.2s, color 0.2s;
// }

.MatrixRain {
  background: black;
  height: 100%;
  overflow: hidden;
  margin: 0;
  overflow: hidden;
}
