.PageSection {
  min-height: 100vh;
  width: 100%;
  border: 10px solid blue;
  .AboutPage {
    .content {
      padding: 25px;
      .contactMeButton {
        display: inline;
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        font: inherit;
        cursor: pointer;
        color: inherit;
        text-align: left;
      }
    }
  }
}
