.PageSection {
  min-height: 100vh;
  width: 100%;
  padding-top: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .ContentContainer {
    .WebsiteLink {
      font-weight: 700;
      color: #ffe294;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .ProjectContainer {
    position: relative;
    width: 800px;
    height: 480px;

    .PetWeb,
    .PetMobile1,
    .PetMobile2 {
      position: absolute;
      transform: translate(-50%, -50%);
    }

    .PetWeb {
      left: 43%;
      top: 65%;
      &:hover {
        cursor: pointer;
      }
    }
    .PetMobile1 {
      left: 55%;
      top: 51%;
    }
    .PetMobile2 {
      left: 68%;
      top: 58%;
      animation-delay: 01s;
    }
    .PetMobile2,
    .PetMobile1 {
      animation: mobileAnimation 1.5s infinite alternate;
      &:hover {
        cursor: pointer;
        animation-play-state: paused;
      }
    }
  }
}

@keyframes mobileAnimation {
  to {
    transform: translate(-50%, -53%); /* Move 10% up */
  }
}
