@import "../../styles/variables.scss";

.PageSection {
  min-height: 100vh;
  width: 100%;
  padding-top: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: $small-screen) {
    padding-top: 0;
  }

  .ContactPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 8vh;

    form {
      display: flex;
      flex-direction: column;
      width: 80%;
      max-width: 400px;
      margin: 16px 0;

      label {
        margin-bottom: 4px;
      }

      input,
      textarea {
        border: none;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 4px;
        padding: 8px;
        outline: none;
        transition: border-bottom-color 0.3s;
        background: transparent;
        color: white;
        margin: 8px 0;

        &:focus {
          border-color: rgb(255, 255, 255);
        }
      }

      textarea {
        resize: none;
        overflow-y: auto;
      }
      .ButtonContainer {
        display: flex;
        justify-content: end;

        button {
          margin: 0;
          border: none;
          background-color: transparent;
          padding: 2px;
          height: 35px;
          width: 35px;
          border-radius: 30px;
          &:hover {
            svg {
              scale: 1.1;
            }
          }
        }
      }
    }
  }
}
