.Layout {
  .TopBar {
    position: fixed;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding: 8px 16px;
  }
  .Toggle {
    position: fixed;
    scale: 0.25;
    bottom: 125px;
    left: 20px;
  }
  .progressBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .NavbarContainer {
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: transparent;
      position: fixed;
      bottom: 50px;
      right: 50%;
      transform: translate(50%, -50%);
    }
    .NavbarButton {
      position: fixed;
      bottom: 30px;
      right: 50%;
      transform: translate(50%, -50%);
      &:hover {
        cursor: pointer;
      }
    }
    .progress {
      position: fixed;
      left: 0;
      right: 0;
      height: 5px;
      background: white;
      bottom: 25px;
    }
  }
}
.ScrollSnap {
  section {
    scroll-snap-align: center;
  }
}
