.Layout {
  .TopBar {
    position: fixed;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    padding: 8px 16px;
    .Toggle {
    }
  }
  .progressBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .NavbarContainer {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 250px;
      height: 55px;
      background-color: rgb(128, 125, 125);
      position: fixed;
      bottom: 65px;
      right: 50%;
      transform: translate(50%, -50%);
    }
    .NavbarButton {
      position: fixed;
      bottom: 60px;
      right: 50%;
      transform: translate(50%, -50%);
    }
    .progress {
      position: fixed;
      left: 0;
      right: 0;
      height: 5px;
      background: white;
      bottom: 50px;
    }
  }
}
.ScrollSnap {
  section {
    scroll-snap-align: center;
  }
}
