@import "../../styles/variables.scss";

.PageSection {
  min-height: 100vh;
  width: 100%;
  padding-top: 8vh;
  @media screen and (max-width: $small-screen) {
    padding-top: 0;
  }
  .SkillsPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .Content {
      width: 70vw;
      align-items: center;
      text-align: center;
      margin-top: 25px;
      p {
        font-weight: 600;
      }
    }
  }
}
