.PageSection {
  min-height: 100vh;
  width: 100%;
  // border: 10px solid orangered;
  padding-top: 8vh;
  .SkillsPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
